.App {
  text-align: center;
}


.header {
  font-family: 'Bigelow Rules', cursive;
  font-size: 72px;
  color: #0ccac4;
  margin: 3px;
}



/* MEDIA QUERIES */

@media only screen and (max-width: 767px) {
  .App {
    margin-right: 25px;
    margin-bottom: 10px;
  }
}


@media only screen and (max-width: 480px) {
  .App {
    margin-right: 6px;
  }
}